.ice:hover{
	transition:3s;
	transform:scale(1.3);
}
.fnt{
	font-style:arial;
	font-weight:bold;
}
.fnt1{
	font-family:papyrus;
	font-weight:bold;
	color:#0563fa;
	font-size:20px;
}
.fnt_ds{
	font-style:arial;
	font-weight:bold;
	
}
.mrq{
	color:aqua;
	background:#402c37;
	padding:15px;
}
.bg{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.a2
{
	color:yellow;
}
.a2:Active
{
color:yellow;}
.ft_img{
    margin-top: -350px;
}
.ft_align{
    margin-top: -570px;
}

